$soft-red: hsl(14, 88%, 65%);
$dark-green: rgb(26, 81, 76);
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);
$light-green: rgb(92, 240, 149);
$dark-blue: rgb(5, 41, 81);
$grey: rgb(184, 189, 185);
$light-grayish-blue: hsl(240, 5%, 91%);
