.question-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $dark-blue;

  &__pre-heading {
    font-size: 12px;
    padding: 10px 0;
  }

  &__heading {
    font-size: 42px;
    padding-bottom: 20px;
    padding: 10px 0px 50px 0;
    font-weight: 700;
  }

  &__sub-heading {
    font-size: 16px;
  }
}
