.question-item {
  width: 100%;
  padding-top: 65px;
  padding-bottom: 80px;

  &__list-items {
    border-radius: 20px;
    // max-width: 350px;
    background-color: white;
    // width: 100%;
    // border-bottom: 1px solid $light-grayish-blue;
    margin: 18px 22px;
  }

  &__headline {
    font-size: 20px;
    font-weight: 600;
    color: $dark-blue;
    // width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // border: none;
    // background-color: transparent;
    padding: 0 20px;
    cursor: pointer;

    &::before {
      content: url(../images/check.png);
      padding-right: 6px;
    }

    &:hover {
      color: $soft-red;
      transform: rotate(360deg);
    }
  }

  &__title {
    line-height: 22px;
    font-size: 17px;
    font-weight: 500;
    color: $dark-blue;
    // max-width: 350px;
    // width: 100%;
    // border-bottom: 1px solid $light-grayish-blue;
    margin: 0 50px;
  }
  &__description {
    @extend .question-item__title;
  }
  &__subdescription {
    @extend .question-item__title;
  }

  &__inputs {
    margin: 0 50px;
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr 1fr;
  }

  &__form-group {
  padding: 4px 5px;
  }

  &__label {
    font-size: 14px;
    padding-bottom: 13px;
  }

  &__input-field {
    margin-top: 7px;
    font-size: 16px;
    border: 1px solid;
    border-radius: 4px;
    height: 40px;
    width: 260px;
  }

  &__buttons {
    // display: flex;
    // justify-content: space-between;
    color: $dark-blue;
    font-size: 20px;
    border: 3px solid $dark-green;
    border-radius: 25px;
    background-color: transparent;
    padding: 10px 35px;
    cursor: pointer;

    // &::after {
    //   content: url(../images/icon-arrow-down.svg);
    //   margin-right: 17px;
    //   transform: rotate(90deg);
    // }

    &__next {
      @extend .question-item__buttons;
      color: white;
      background-color: $dark-green;
      margin-left: 16px;
      &:hover {
        color: $dark-green;
        background-color: transparent;
      }
    }
  }

  &__desc {
    padding: 0 20px;
    margin-top: 0;
    height: 0;
    overflow: hidden;
    // -webkit-transition: all 0.6s ease-out;
    // -moz-transition: all 0.6s ease-out;
    // transition: all 0.6s ease-out;
    max-height: 0px;
    // transition: max-height transform 900ms ease-out;
    transition: max-height 0.8s steps(2, start);
  }

  &__desc.show-description {
    height: 100%;
    // transition: max-height 600ms ease-in;
    padding: 0 20px;
    max-height: 1999px;
    transition-timing-function: cubic-bezier(0.5, 0, 1, 0);
    transition-delay: 0.1s;
  }

  &__navigation {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__icon {
    font-size: 3em;
    color: green;
  }
}
