.question-item {
  width: 100%;
  padding-top: 65px;
  padding-bottom: 80px;

  &__list-items {
    border-radius: 20px;
    // max-width: 350px;
    background-color: white;
    // width: 100%;
    // border-bottom: 1px solid $light-grayish-blue;
    margin: 18px 22px;
  }
  &__headline-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  &__headline-nr {
    // @extend .question-item
    box-sizing: inherit;
    font-size: 20px;
    font-weight: 900;
    color: $dark-blue;
    cursor: pointer;
    text-align: center;
    margin: 14px 0 20px 20px;
    border-radius: 50%;
    padding: 7px 0 0;
    width: 40px;
    height: 32px;
    // padding: 8px 12px;
    border: 2px solid #000;
  }

  &__headline-nr-done {
    font-size: 20px;
    padding: 16px 0 20px 20px;
    // @extend .question-item__headline-nr;
    // margin: 14px 0 0 20px;
    // border-radius: 50%;
    // width: 54px;
    // height: 34px;
    // padding: 4px 8px;
    // border: 0;
    // font-weight: 600;
    content: url(../images/check.png);
  }

  &__headline-nr-disabled {
    @extend .question-item__headline-nr;
    // border: 0;
    border: 2px solid rgb(170, 170, 170);
    color: rgb(170, 170, 170);
  }

  &__headline {
    font-size: 18px;
    font-weight: 700;
    color: $dark-blue;
    padding: 24px 8px;
    // width: 100%;
    // display: flex;
    // justify-content: flex-start;
    // align-items: center;
    // border: none;
    // background-color: transparent;
    cursor: pointer;
    // position: absolute;

    // &::before {
    //   content: url(../images/check.png);
    //   padding-right: 6px;
    // }

    &:hover {
      color: $soft-red;
      transform: rotate(360deg);
    }
  }

  &__headline-disabled {
    @extend .question-item__headline;
    color: $grey;
  }

  &__title {
    line-height: 22px;
    font-size: 15px;
    font-weight: 500;
    color: $dark-blue;
    // max-width: 350px;
    // width: 100%;
    // border-bottom: 1px solid $light-grayish-blue;
    margin: 0 50px;
  }
  &__description {
    @extend .question-item__title;
  }
  &__subdescription {
    @extend .question-item__title;
  }

  &__form {
    // display: grid;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    // justify-items: center;
    // align-items: center;
  }

  &__form-group-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__inputs {
    margin: 0 50px;
    padding: 20px 0;
    // grid-template-rows: 1fr 1fr;
  }

  &__form-group {
    padding: 4px 5px;
    margin-bottom: 10px;
  }

  &__form-group-center {
    @extend .question-item__form-group;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__label {
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 13px;
  }

  &__input-field {
    margin-top: 7px;
    font-size: 16px;
    border: 1px solid;
    border-radius: 4px;
    height: 40px;
    width: 260px;
  }

  // input[type="file" i] {
  //   background-color: red;
  // }

  // input {
  //   margin-top: 7px;
  //   font-size: 16px;
  //   border: 1px solid;
  //   border-radius: 4px;
  //   height: 40px;
  //   width: 260px;
  //   // display:list-item;
  // }

  &__input-field-upload {
    @extend .question-item__input-field;
    display: flex;
    justify-content: flex-end;
  }

  &__input-field-upload-placeholder {
    font-size: 11px;
    opacity: 0.6;
  }

  &__error {
    color: red;
    font-size: 11px;
    font-weight: 500;
    padding: 4px 0;
  }

  &__add-person {
    display: flex;
    justify-content: center;
    padding: 28px 0px;
    // align-items: center;
  }

  &__add-person-button-plus {
    content: url(../images/plus.png);
  }

  &__add-person-button {
    color: $dark-blue;
    font-size: 15px;
    font-weight: 900;
    border: 0;
    background-color: transparent;
    // padding: 10px 35px;
    cursor: pointer;
    // display: block;
    // margin-left: auto;
    // margin-right: auto;
    // align-self: center;
    // justify-content: center;

    // &::before {
    // content: url(../images/plus.png);
    // padding-right: 6px;
    // }
  }

  &__buttons {
    // display: flex;
    // justify-content: space-between;
    color: $dark-blue;
    font-size: 20px;
    border: 3px solid $dark-green;
    border-radius: 25px;
    background-color: transparent;
    padding: 10px 35px;
    cursor: pointer;

    // &::after {
    //   content: url(../images/icon-arrow-down.svg);
    //   margin-right: 17px;
    //   transform: rotate(90deg);
    // }

    &__next {
      @extend .question-item__buttons;
      color: white;
      background-color: $dark-green;
      margin-left: 16px;
      &:hover {
        color: $dark-green;
        background-color: transparent;
      }
    }
  }

  &__desc {
    padding: 0 20px;
    margin-top: 0;
    height: 0;
    overflow: hidden;
    // -webkit-transition: all 0.6s ease-out;
    // -moz-transition: all 0.6s ease-out;
    // transition: all 0.6s ease-out;
    max-height: 0px;
    // transition: max-height transform 900ms ease-out;
    transition: max-height 0.8s steps(2, start);
  }

  &__desc.show-description {
    height: 100%;
    // transition: max-height 600ms ease-in;
    padding: 0 20px;
    max-height: 1999px;
    transition-timing-function: cubic-bezier(0.5, 0, 1, 0);
    transition-delay: 0.1s;
  }

  &__navigation {
    padding: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__icon {
    font-size: 3em;
    color: green;
  }

  &__info {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 28px;
  }
}
